<% include ./partials/header%>
<div class="col-md-12">
  <% if(noMatch !== null) {%>
  <h3>
    <%= noMatch %>
  </h3>
  <p>
  </p>
  <% } %>
</div>
<% include ./partials/teamGoHome%>
<div class = "">
<table class="container">
  <tr class="thead-dark">
    <th class="col-2">Title</th>
    <th class="col-1">Category</th>
    <th class="col-3">Description</th>
    <th class="col-2">Mentor Name</th>
    <th class="col-2">Mentor Username</th>
    <th class="col-1"> No. of Applicants</th>
    <th class="col-1">Apply For It</th>
  </tr>
  <% challenges.forEach(function(challenge){
                challenge.mentorChallenges.forEach(function(chall) { %>
  <tr>
    <td>
      <%= chall.title %>
    </td>
    <td>
      <%= chall.category %>
    </td>
    <td>
      <%= chall.description %>
    </td>
    <td>
      <%= challenge.name %>
    </td>
    <td>
      <%= challenge.username %>
    </td>
    <td>
      <%= chall.applicants.length %>
    </td>
    <td>
      <form action="/team/<%= challenge._id%>/participate/<%= chall._id%>" method="POST">
        <% if(chall.teamusername != null && chall.teamusername == team.username){ %>
        <button class="btn btn-info" disabled>You're Selected</button>
        <% } else if(chall.teamusername != null && chall.teamusername != team.username){ %>
        <button class="btn btn-warning" disabled>Team Finalised</button>
                      <% } else if(team.mentorchallenge.title == "") {
                    var k = 0;
                      for( var j = 0; j != chall.applicants.length; j++){   
                      console.log("SEEEEE")  
                            if(team.username == chall.applicants[j])
                              {
                              k = 1;
                              console.log(chall.title + "yes");
                              break;
                              }
                          }
                          if(k != 0)
                          { %>
        <button class="btn btn-success" disabled>Applied</button>     
                     <% } else { %>
                      <button class="btn btn-primary">Apply</button>
                  <% } }%>
      </form>
    </td>
  </tr>
  <% }); %>
  <% }); %>
</table>
</div>
<% include ./partials/footer%>