<% include ./partials/header%>
        <div class="col-md-12">
             <% if(noMatch !== null) {%>
                <h3><%= noMatch %></h3>
                 <p>
             </p>
             <% } %>
         </div>
          <table class="table-striped table table-bordered">
            <tr class="thead-dark">
              <th>Title</th>
              <th>Category</th>
              <th>Description</th>
              <th>Mentor Name</th>
              <th>Mentor Username</th>
              <th> No. of Applicants</th>
              <th>Apply For It</th>
            </tr>
                <% challenges.forEach(function(challenge){
                challenge.mentorChallenges.forEach(function(chall) { %>
                <tr>
                  <td><%= chall.title %></td>
                  <td><%= chall.category %></td>
                  <td><%= chall.description %></td>
                  <td><%= challenge.name %></td>
                  <td><%= challenge.username %></td>
                  <td><%= chall.applicants.length %></td>
                  <td>
                    <form action="/team/<%= challenge._id%>/participate/<%= chall._id%>" method = "POST"> <% 
                      if(chall.teamusername != null){ %>
                      <button class = "btn btn-warning" disabled>Team Finalised</button>
                    <% } else {
                      var k = 0;
                      for( var j = 0; j != chall.applicants.length; j++){     
                            if(team == chall.applicants[j])
                              {
                              k = 1;
                              break;
                              console.log("yes");
                              }
                          }
                          if(k === 1)
                          { %>
                        <button class = "btn btn-success" disabled>Applied</button>
                      <% } else { %>
                        <button class = "btn btn-primary">Apply</button>
                      <% }
                      } %>
                    </form>
                  </td>
                  </tr>
                  <% }); %>
        <% }); %>
          </table>   
<% include ./partials/footer%>
