<% include ./partials/header %>
<!-- <form action="/team/allMentorChallenges" method="GET">
  <button class="btn btn-info btn-sm">See all mentor challenges</button>
</form> -->
<div class = "scrollit">
<table class="table-striped table table-bordered">
  <tr class="thead-dark">
    <th>Name</th>
    <th>Roll No.</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Skills</th>
    <th>Leader</th>
  </tr>
  <% [...team.members].forEach(function (member) { 
      var skills = '';%>
  <tr>
    <td>
      <%= member.name %>
    </td>
    <td>
      <%= member.rollNumber %>
    </td>
    <td>
      <%= member.email %>
    </td>
    <td>
      <%= member.phone %>
    </td>
    <td>
      <ul>
        <% for(var i = 0; i < member.skills.length; i++){ %>
          <li>
            <% if(member.skills[i] !== '') {%>
            <%= member.skills[i];%>
            <% } %>
          </li>
        <% } %>
      </ul> 
    </td>
    <td><%=member.isLeader %></td>
  </tr>
    <% }); %>
</table>
</div>
<% if(!team.challenge) { %>
  No challenge posted yet
<% } else {%>
<p>
  Challenge posted:
  <br />
  <strong>Title:</strong> <%= team.challenge.title%>
  <br />
  <strong>Description:</strong> <%= team.challenge.description%>
  <br />
  <strong>Category:</strong> <%= team.challenge.category.split('_').join(' ');%>
  </p>
  <% }%>

<% include ./partials/footer %>